.one{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  .fullyimg{
    height: 300px;
    width: 100%;
    background-image: url(images/bg-showcase-1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
  }
  .box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    .txt{
      padding: 10px;
    }
    p{
      color:$p-color;
    }
    }
  }
