.talking{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #d3d3d333;
  padding-top: 40px;
  padding-bottom: 40px;
  .people{
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 900px;
    margin: 0 auto;
      .person{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;

        .Mar{
          height: 100px;
          width: 100px;
          background-image: url(images/testimonials-1.jpg);
          background-size: cover;
          background-position: center;
          border-radius: 100px;
          box-shadow: 0 0 5px grey;
        }
        .Fre{
          height: 100px;
          width: 100px;
          background-image: url(images/testimonials-2.jpg);
          background-size: cover;
          background-position: center;
          border-radius: 100px;
          box-shadow: 0 0 5px grey;
        }
        .Ser{
          height: 100px;
          width: 100px;
          background-image: url(images/testimonials-3.jpg);
          background-size: cover;
          background-position: center;
          border-radius: 100px;
          box-shadow: 0 0 5px grey;
        }
        h2{
          text-align: center;
        }
        p{
          text-align: center;
          color: $p-color;
        }
    }
  }
}
